@import "variables";

// Navigation

@mixin language-button {
  color: $font-color-white;
  border: none;
  height: fit-content;
  width: fit-content;
}

@mixin click-Button {
  transform: scale(0.95);
  transition: 0.22s;
}

@mixin main-navigation {
  color: $font-color-white;
  display: flex;
  justify-content: flex-end;
  .menu-icon {
    width: fit-content;
    height: fit-content;
  }
}

@mixin main-navigation-dropdown {
  border: 1px solid $line-bg-white;
  background-color: $line-bg-dark;
}

@mixin main-navigation-dropdown-item {
  color: $font-color-white;
}
// END NAVIGATION //

@mixin main-button {
  color: $font-color-white;
  background-color: $button-bg;
  border-radius: 25px;
  border-style: none;
  font-size: 1.1rem;
  padding: 1%;
  width: 120px;
}

// HOME PAGE //

@mixin home-page-component-desc($position) {
  * {
    @if($position == right) {
      text-align: right;
    }@elseif ($position == left){
      text-align: left;
    }@else {
      text-align: center;
    }
    //margin-top: 5vh;
  }

  .title {
    @include title;
  }

  .title-reverse {
    @include title-reverse;
  }

  .text {
    @include text;
  }

  .text-reverse {
    @include text-reverse;
  }
}

@mixin title {
  color: $font-color-white;
  font-family: HeaderText-Regular;
  font-weight: bold;
  font-size: $font-size-header;
}

@mixin title-reverse {
  color: $font-color-dark;
  font-family: HeaderText-Regular;
  font-weight: bold;
  font-size: $font-size-header;
}

@mixin text {
  color: $font-color-dark;
  font-family: ArticleText-Regular;
  font-size: $font-size-text;
}

@mixin text-reverse {
  color: $font-color-white;
  font-family: ArticleText-Regular;
  font-size: $font-size-text;
}

@mixin photo($position) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @if($position == right){
    img {
      -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
      -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
      box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    }
  }@else {
    img {
      -webkit-box-shadow: -8px 8px 24px 0px rgba(66, 68, 90, 1);
      -moz-box-shadow: -8px 8px 24px 0px rgba(66, 68, 90, 1);
      box-shadow: -8px 8px 24px 0px rgba(66, 68, 90, 1);
    }
  }
}

@mixin list {
  list-style: none;

  li, li + li {
    margin-top: 0;
    color: $font-color-white;
    @include text-reverse;
  }
}

@mixin list-reverse {
  list-style: none;

  li, li + li {
    margin-top: 0;
    color: $font-color-dark;
    @include text;
  }
}

// END HOME PAGE //


// START LOGIC PAGE //

@mixin code-info-tab {
  transition: 1s;
  max-height: 52vh;

  background-color: $font-color-white;
  padding: 1vw;
  border: 2px solid $line-bg-dark;
}

@mixin info-tab {
  margin-top: 1vh;
  font-family: ArticleText-Regular;

  p {
    font-size: $font-size-text-normal;
  }

  h4 {
    font-size: $font-size-text-header;
  }

  ul {
    font-size: $font-size-text-normal;
  }
}

// END LOGIC PAGE //
