// Main Layout //
// Colors //
$button-bg: #17252A;
$container-bg: #3AAFA9;

$font-color-white: #FEFFFF;
$font-color-dark: #17252A;

$line-bg-dark: #2B7A78;
$line-bg-white: #DEF2F1;

// Border //
$border-line-width: 0.5vw;

// Font //
$font-size-header: 3vw;
$font-size-text: 2vw;
