@import "src/sass/mixins";


.firstCol {
  border-right: $border-line-width solid $line-bg-dark;
  border-bottom: $border-line-width dashed $line-bg-dark;
}

.thirdCol {
  border-left: 0.5vw solid $line-bg-dark;
}

.thirdRow {
  min-height: 30vh;
  border-top: $border-line-width solid $line-bg-dark;
  border-right: $border-line-width solid $line-bg-dark;
  border-bottom: $border-line-width dashed $line-bg-dark;
}

.fourthRow {
  border-left: $border-line-width solid $line-bg-dark;
}

.endingRow {
  min-height: 10vh;
}

.endingCol {
  border-top: $border-line-width solid $line-bg-dark;
  border-right: $border-line-width solid $line-bg-dark;
}

.endingDiv {
  min-height: 5vh;
}

.arrowHolder {
  position: relative;
}

.arrowHolder > mat-icon {
  color: white;
  position: absolute;
  font-size: 5rem;
  top: -32px;
  right: 21px;
}

.secondVersionSecondRow > .col-7 {
  min-height: 10vh;
  border-left: $border-line-width solid $line-bg-dark;
  border-bottom: $border-line-width solid $line-bg-dark;
}

.secondVersionThirdRow > .col-7 {
  border-bottom: $border-line-width dashed $line-bg-dark;
}

.secondVersionThirdRow > .col-5 {
  border-right: $border-line-width solid $line-bg-dark;
  border-bottom: $border-line-width dashed $line-bg-dark;
}

.secondVersionFourthRow > .col-5 {
  border-left: $border-line-width solid $line-bg-dark;
  border-bottom: $border-line-width solid $line-bg-dark;
}

.secondVersionFifthRow > .col-5 {
  min-height: 20vh;
  border-right: $border-line-width dashed $line-bg-dark;
}

.secondVersionEndingRow > .col-3 {
  min-height: 10vh;
  border-top: $border-line-width solid $line-bg-dark;
  margin-left: -0.48vw;
}

.secondVersionEndingRow > .col-4 {
  margin-top: -5vh;
  margin-left: -5vw;
  cursor: pointer;
  transition: 1s;
}

.GoUp:hover {
  color: $font-color-dark !important;
}

.arrow-right {
  font-size: 5rem;
}

.component_description-left {
  @include home-page-component-desc(left);
}

.component_description-right {
  @include home-page-component-desc(right);
}

.component_description-center {
  @include home-page-component-desc(center);
}
.image-right {
  @include photo(right);
}

.image-left {
  @include photo(left);
}

.fourthCol > article > ul {
  @include list;
}

.secondVersionFourthRow > .col-7 > article > ul {
  @include list-reverse;
}
