

<div class="main-container">
  <div class="row firstRow">
    <div class="col-7 firstCol">
      <article class="component_description">
        <h2 translate class="title">home.title</h2>
        <section class="first_sec">
          <p translate class="tekst">home.firstP</p>
          <p translate class="tekst">home.secondP</p>
        </section>
      </article>
    </div>
    <div class="col-5 secondCol">

    </div>
  </div>
  <div class="row secondRow">
    <div class="col-5 thirdCol">

    </div>
    <div class="col-7 fourthCol">

    </div>
  </div>
</div>
