

<div class="main-container">
  <div class="row firstRow">
    <div class="col-7 firstCol">
      <article class="component_description-left">
        <h2 translate class="title">home.first-row.title</h2>
          <p translate class="text">home.first-row.firstP</p>
          <p translate class="text">home.first-row.secondP</p>
      </article>
    </div>
    <div class="col-5 secondCol">
        <div class="image-right">
          <img class="img-fluid" src="/assets/images/clear_app.png" alt="{{ 'home.first-row.image.clear-app' | translate }}">
        </div>
    </div>
  </div>
  <div class="row secondRow">
    <div class="col-5 thirdCol">
        <div class="image-left">
          <img class="img-fluid" src="/assets/images/list_app.png" alt="{{ 'home.second-row.image.list-app' | translate}}">
        </div>
    </div>
    <div class="col-7 fourthCol">
        <article class="component_description-left">
          <h3 translate class="title-reverse">home.second-row.title</h3>
            <p translate class="text-reverse">home.second-row.firstP</p>
            <ul>
              <li translate>home.second-row.list-item.kolo</li>
              <li translate>home.second-row.list-item.trojkat</li>
              <li translate>home.second-row.list-item.kwadrat</li>
              <li translate>home.second-row.list-item.prostokat</li>
            </ul>
          <br>
        </article>
    </div>
  </div>
  <div class="row thirdRow">
    <div class="col-7 fifthCol">
      <article class="component_description-left">
        <h3 translate class="title">home.thirdRow.title</h3>
        <p translate class="text">home.thirdRow.firstP</p>
        <p translate class="text">home.thirdRow.secondP</p>
        <br>
      </article>
    </div>
    <div class="col-5 sixthCol">
      <div class="image-right">
        <img class="img-fluid" src="/assets/images/triangle_app_1.png" alt="{{ 'home.thirdRow.image.triangle1' | translate}}">
      </div>
    </div>
  </div>
  <div class="row fourthRow">
    <div class="col-5 seventhCol">
      <div class="image-left">
        <img class="img-fluid" src="/assets/images/triangle_app_3.png" alt="{{ 'home.fourthRow.image.triangle3' | translate }}">
      </div>
    </div>
    <div class="col-7 eighthCol">
      <article class="component_description-left">
        <h3 translate class="title-reverse">home.fourthRow.title</h3>
        <p translate class="text-reverse">home.fourthRow.firstP</p>
        <br>
      </article>
    </div>
  </div>
  <div class="row endingRow">
    <div class="col-5 endingCol"></div>
  </div>
  <div class="endingDiv">
    <div class="row">
      <div class="col-5 arrowHolder"><mat-icon>arrow_drop_down</mat-icon></div>
    </div>
  </div>
  <div class="row secondVersionFirstRow">
    <div class="col-2"></div>
    <div class="col-6 component_description-center">
      <h2 translate class="title">home.secondVersion.firstRow.title</h2>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row secondVersionSecondRow">
    <div class="col-5"></div>
    <div class="col-7"></div>
  </div>
  <div class="row secondVersionThirdRow">
    <div class="col-7">
      <article class="component_description-left">
        <h3 class="title-reverse" translate>home.secondVersion.ThirdRow.title</h3>
        <p translate class="text-reverse">home.secondVersion.ThirdRow.firstP</p>
        <br>
      </article>
    </div>
    <div class="col-5">
      <div class="image-right">
        <img class="img-fluid" src="/assets/images/calVersion2.png" alt="{{ 'home.thirdRow.image.calversion2' | translate}}">
      </div>
    </div>
  </div>
  <div class="row secondVersionFourthRow">
    <div class="col-5">
      <div class="image-right">
        <img class="img-fluid" src="/assets/images/version2list.png" alt="{{ 'home.thirdRow.image.calv2list' | translate}}">
      </div>
    </div>
    <div class="col-7">
      <article class="component_description-left">
        <h3 translate class="title">home.secondVersion.FourthRow.title</h3>
        <p translate class="text">home.secondVersion.FourthRow.firstP</p>
        <ul>
          <li translate>home.secondVersion.FourthRow.list-item.kula</li>
          <li translate>home.secondVersion.FourthRow.list-item.stozek</li>
          <li translate>home.secondVersion.FourthRow.list-item.prostopadloscian</li>
          <li translate>home.secondVersion.FourthRow.list-item.ostroslup</li>
        </ul>
        <br>
      </article>
    </div>
  </div>
  <div class="row secondVersionFifthRow">
    <div class="col-5"></div>
    <div class="col-7"></div>
  </div>
  <div class="row secondVersionEndingRow">
    <div class="col-5"></div>
    <div class="col-3"></div>
    <div class="col-4 component_description-center">
      <h3 class="title GoUp" (click)="goTop()">
        Go UP &emsp;
        <mat-icon class="arrow-right">arrow_upward</mat-icon>
      </h3>
    </div>
  </div>
</div>
