@import "src/sass/mixins";

.firstRow {
  min-height: 50vh;
}

.firstCol {
  border-right: 0.5vw solid $line-bg-dark;
  border-bottom: 0.5vw dashed $line-bg-dark;
}

.secondCol {

}

.secondRow {
  min-height: 30vh;
}

.thirdCol {
  border-left: 0.5vw solid $line-bg-dark;
}

.fourthCol {

}

.component_description {
  @include home-page-component-desc;
}
