
<nav class="navigation">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="navigation-dropdown" xPosition="before">
    <button mat-menu-item class="navigation-dropdown-item" [routerLink]="['']" translate="nav.home"></button>
    <button mat-menu-item class="navigation-dropdown-item" [matMenuTriggerFor]="components" translate="nav.components"></button>
  </mat-menu>

  <mat-menu #components="matMenu" class="navigation-dropdown" xPosition="after">
    <button mat-menu-item class="navigation-dropdown-item" [routerLink]="['components', 'logic']" translate="nav.component.logic"></button>
    <button mat-menu-item class="navigation-dropdown-item" [routerLink]="['components', 'keyboard']" translate="nav.component.keyboard"></button>
    <button mat-menu-item class="navigation-dropdown-item" [routerLink]="['components', 'display']" translate="nav.component.display"></button>
  </mat-menu>

  <button mat-button (click)="changeLanguage()" class="language-button">
    <mat-icon>language</mat-icon>
    {{ selectedLanguage == true ? "PL" : "EN"}}
  </button>
</nav>

