@import "src/sass/mixins";

nav {
  margin-top: 10px;
}
.menu-icon {
  font-size: 3rem;
  height: fit-content;
  width: fit-content;
}

.navigation {
  @include main-navigation;
}

::ng-deep .navigation-dropdown {
  @include main-navigation-dropdown;
}

.navigation-dropdown-item {
  @include main-navigation-dropdown-item;
}

.language-button {
  @include main-button;
  width: 80px;
  height: 50px;
}
language-button:hover {
  @include main-button-active;
}
