@import "src/sass/_variables.scss";
@import "src/sass/_mixins.scss";
@import '~highlight.js/styles/atom-one-dark.css';

* {
  margin-top: 1vh;
}

.title {
  @include title;
}

.title-reverse {
  @include title-reverse;
}

.text {
  @include text;
}

.text-reverse {
  @include text-reverse;
}

mat-tab-group {
  @include code-info-tab;
}

.info-tab {
  @include info-tab;
}

.image-right {
  @include photo(right);
  margin-top: 0.5vh;
  margin-left: 3vw;
  max-width: 30vw;
}

